body, html {
  font-family: 'Arial', sans-serif;
  background: url('https://images.pexels.com/photos/2114014/pexels-photo-2114014.jpeg?cs=srgb&dl=pexels-magda-ehlers-pexels-2114014.jpg&fm=jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-app {
  background-color: #b4d6f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.city-input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}

.weather-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.weather-button:hover {
  background-color: #0056b3;
}

.weather-display {
  margin-top: 20px;
}

.weather-city {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather-description {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

.weather-temp, .weather-humidity, .weather-wind {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}
